.logo img{
    width: 150px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.right ul{
    display: flex;
    gap: 34px;

}

.right ul li{
    list-style:none;
}